<!DOCTYPE html>
<html>
<head>
  <title>Recipe Finder</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'application' %>
  <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800" rel="stylesheet">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-dark bg-dark py-3" id="navbar_main">
      <div class="container">
        <a class="navbar-brand mr-lg-5" href="<%= root_path %>"><strong>Recipe</strong>Finder</a>
        <div class="collapse navbar-collapse" id="navbar_main_collapse">
          <ul class="navbar-nav align-items-lg-center">
            <li class="nav-item ">
              <a class="nav-link" href="<%= root_path %>">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <%= yield %>
</body>
</html>
